<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brunorfreitas.rethink3_0">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.FirstActivity.ViewFirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.SecondActivity.ViewSecondActivity"/>
        <activity android:name=".ui.ConfirmAndDateActivity.ViewConfirmAndDateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".ui.FlightsActivity.FlightsActivity"/>
        <activity android:name=".ui.TotalActivity.ViewTotalActivity"/>
        <activity android:name=".ui.LoginActivity.LoginActivity"/>
        <activity android:name=".ui.MyFlights.ViewMyFlights"/>
    </application>

</manifest>